body{
	margin: 0px;
	padding: 0px;
}

.clear-fix:after{
	content: '';
	display: block;
	clear: both;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
}

.header-logo {
    float: left;
    width: 20%;
    color: white;
    background-color: #337ab7;
    font-size: 20px;
    text-align: center;
  	position: relative;
  	display: inline-block;
}

.header-nav{
	display: none;
  	position: absolute;
  	z-index: 1;
  	width: 270px;
}

.header-nav a{
	text-decoration: none;
  	display: block;
  	background-color: #222d32;
  	color: white;
    height: 40px;
    padding-top: 15px;

}

.header-nav a:hover {
	color: yellow;
	background-color: red;
}

.header-logo:hover .header-nav {
  	display: block;
}

.header-content {
    float: left;
    width: 80%;
    background-color: #3c8dbc;
    height: 63px;
}

.content{
    text-align: center;
    margin-top: 63px;
    background-color: #ecf0f5;
    min-height: 560px;
}

/*.content tr:nth-child(even) {
    background-color: white;
    border-color: #ecf0f5; 
}*/

#inputSearch{
    height: 25px;
    width: 60%;
}

#btn{
    text-align: center;
}

#td-select{
    text-align: left;
}

.content tr:hover{
    background-color: white;
    border: 1px solid #ecf0f5;
}

.content th{
    /*background-color: #328410;
    color: white;*/
}

.content td{
    /*text-align: left;*/
}

.btn-delete{
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-add{
    background-color: #0f5075;
    border-color: #367fa9;
}

button{
    /*background-color: #367fa9;*/
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button a{
    color: white;
}

.content table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}

.content img{
    width: 100px;
}

.content h2{
    padding: 20px;
    margin: 0;
}

a{
    text-decoration: none;
}

.content input {
    width: 100%;
    height: 25px;
}

.content select {
    height: 25px;
    min-width: 300px;
}


